#TA-Lib 0.6.6 有c库，需注意完整安装
#
## mootdx 版本不更新可能导致依赖冲突，可以尝试手动安装
pandas~=2.3.3
loguru~=0.7.3
numpy~=2.3.2
PyYAML~=6.0.2
mplfinance~=0.12.10b0
matplotlib~=3.10.6
python-dotenv~=1.1.1
DateTime~=5.5
joblib~=1.5.2
scikit-learn~=1.7.2
chromadb==1.5.0
starlette>=0.47.3
argparse~=1.4.0
fastapi~=0.135.0
pydantic~=2.11.7
rich~=14.1.0
typer~=0.16.1
requests~=2.32.5
setuptools~=80.9.0
click~=8.2.1
uvicorn~=0.24.0.post1
backtesting~=0.6.5
analysis>=0.1.7
plotly>=6.2.0
mootdx>=0.11.7